[Desktop Entry]
Name=Trilium Notes
Comment=Trilium Notes is a hierarchical note taking application with focus on building large personal knowledge bases.
GenericName=Note taker
Exec=/opt/trilium/teilium %U
Icon=trilium
Type=Application
StartupNotify=true
Categories=Office;

