[Desktop Entry]
Name=TriliumNext Notes
Comment=Build your personal knowledge base with TriliumNext Notes
GenericName=TriliumNext Notes
Exec=trilium %U
Icon=trilium
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;

